<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property name="LOG_DIR" value="build/log" />
  <property name="LOG_LEVEL" value="TRACE" />

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %t %logger{36} - %msg%n
     </pattern>
    </encoder>
  </appender>


  <!--
      <pattern>%d %-5p %c{1} - %m%n</pattern>
      <pattern>%-4relative [%thread] %-5level %t %logger{35} - %msg%n</pattern>

  -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/notsnops.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d %-5p %c{1} - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="SNOPSFILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/snops.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d %-5p %c{1} - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="HTTPCLIENTFILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/httpclient.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d %-5p %c{1} - %m%n</pattern>
    </encoder>
  </appender>

  <logger name="com.tkmtwo.snops" level="${LOG_LEVEL}" additivity="false">
    <appender-ref ref="SNOPSFILE" />
  </logger>

  <logger name="org.apache.http" level="${LOG_LEVEL}" additivity="false">
    <appender-ref ref="HTTPCLIENTFILE" />
  </logger>

  <logger name="org.springframework" level="${LOG_LEVEL}" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>



</configuration>

